.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color:antiquewhite;
  border: 5px solid black;
 

  width: 60pc;
  height: 70pc;
  margin-left: auto;
  margin-right: auto;
  


  
}

.heading{
  background-color: aqua;
}

.head{
  background-color: antiquewhite;
  width: 60pc;

}
.H2{
  text-align: center;
  background-color:darkgray;
  width: 60pc;
  height: 9pc;

  
}
.v1{
  font-weight: 400;
  text-align: left;
  margin-left: 0%;

}
.H3{
  left: none;
  text-align: right;
  background-color:darkgray;
  width: 60pc;
  height: 9pc;
  text-align: center;
  margin-left: 0%;
}
.v2{
  font-weight: 400;
  text-align: left;

}
.H4{
  text-align: right;
  background-color:darkgray;
  width: 60pc;
  height: 12pc;
  text-align: center;
  
}
.v3{
  font-weight: 300;
  background-color: aquamarine;

}
.main{
  display:inline-block;
  text-align: left;
}


  
  


